.signup {
    .card {
        div {
            margin-bottom: .5rem !important;

            label {
                margin-bottom: .25rem;
                font-size: .8rem;
            }
    
            input {
                height: 30px;
            }

        }
        button {
            margin-top: .5rem;
        }
    }
}