// BASE
@import './base/_directory';
// SCREENS
@import './screens/directory';

body {
    background: $light;
    font-family: $font;
    color: $white;
}

a, svg, button, path {
    outline: none;

    &:focus {
        outline: none;
    }
}

button {
    padding: .25rem;
    background: $light;
    border-radius: $card-border-radius;
    color: $white;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;

    &:hover, &:focus {
        background: $light-hover;
        color: $white-hover;
        outline: none;

        > a svg {
            color: $white-hover !important;
        }
    }
}
.grey {
    background: $light !important;
    &:hover, &:focus {
        background: $light-hover !important;
    }
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }