@mixin loading($circleSize) {
    border: 10px solid $grey;
    border-top: 10px solid $dark;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    height: $circleSize;
    width: $circleSize;
}

@mixin loadingHeader($fontSize) {
    color: $white;
    margin-top: 1rem;
    text-align: center;
    font-size: $fontSize;
}

/* Loading spinner */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
        /* 5:1 ratio */
        max-width: 300px;
        max-height: 60px;
        margin-bottom: 1rem;
    }

    h1 {
        @include loadingHeader(1.5rem)
    }

    .loader {
        @include loading(75px);
    }
}

/* Loading spinner - small */
.loading-container-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        /* 5:1 ratio */
        max-width: 300px;
        max-height: 60px;
        margin-bottom: 1rem;
    }

    h1 {
        @include loadingHeader(1rem)
    }

    .loader {
        @include loading(50px);
    }
}

.show-loader {
    display: block;
}

.hide-loader {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}