/* Colors */
$dark: #2D2F39;
$grey: #4D5262;
$grey-hover: #24272E;
$light: #656981;
$light-hover: #575a6f;
$white: #FBFAFA;
$white-hover: #C7C7C7;
$success: #2fca76;
$success-hover: #239657;
$warning: #EA964D;
$error: #de3e3e;
$error-hover: #AB3030;

/* Shapes */
$card-border-radius: 5px;

/* Fonts */
$font: "Rubik", sans-serif;